{% include header-style-3.html %}

<div class="row mt-4 mb-4">
    <div class="col-sm-12 col-md-4 col-lg-4 text-center mt-4 mb-4">
        <a href="https://one.zeespire.com"><img style="width: 200px" src="/assets/images/one-logo.png"></a>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 text-center mt-4 mb-4">
        <a href="https://www.weinspire.tech"><img style="width: 200px" src="/assets/images/weinspire-logo.png"></a>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 text-center mt-4 mb-4">
        <a href="https://shop.weinspire.tech"><img style="width: 200px" src="/assets/images/zss-shop-logo.png"></a>
    </div>
</div>
<div class="row mt-4 mb-4"></div>
<div class="row mt-4 mb-4"></div>
<div class="row mt-4 mb-4">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <p class="lead" style="color: #ffffff;">Latest news</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div style="display: flex;">
            <div style="min-width: 80px;">
                <span class="fw-light" style="font-size: small; color: #ffffff;">10 Dec 2021</span>
            </div>
            <div>
                <span class="homestyle-3-text fw-light" style="font-size: small;">Shop.Zeespire.com is live</span>
            </div>
        </div>
        <div style="display: flex;">
            <div style="min-width: 80px;">
                <span class="fw-light" style="font-size: small; color: #ffffff;">25 Nov 2021</span>
            </div>
            <div>
                <span class="homestyle-3-text fw-light" style="font-size: small;">ZeeSpire.com is live</span>
            </div>
        </div>
    </div>
</div>

{% include footer-style-3.html %}