{% include header-style-3.html %}

<div class="row mt-4 mb-4">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center homestyle-3-text">
        <p class="h5">About</p>
        <p class="lead">Sometimes <a href="https://www.weinspire.tech" class="homestyle-3-text">weinspire.tech</a></p>
        <p class="lead">... while we create top notch <a href="https://www.zeespire.com" class="homestyle-3-text">software solutions at zeespire</a></p>
        <p class="lead">... and we also care about our client's image with <a href="https://www.envato.com" class="homestyle-3-text">zss one theme</a>.</p>
    </div>
</div>
<div class="row mt-4 mb-4">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <p class="lead">Latest news</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6" style="display: flex;">
        <div style="min-width: 80px;">
            <span class="fw-light" style="font-size: small;">25 Nov 2021</span>
        </div>
        <div>
           <span class="homestyle-3-text fw-light" style="font-size: small;">ZeeSpire.com is live</span>
        </div>
    </div>
</div>

{% include footer-style-3.html %}