{% include header.html %}

<div class="row justify-content-md-center mt-4 mb-4">
    {% for post in paginator.posts %}
    <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2" style="display: flex;">
        {% if site.show-posts-date %}
        <div style="min-width: 110px;">
            {{ post.published }}
        </div>
        {% endif %}
        <div>
            <a class="homestyle-2-text h6" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>


{% include footer.html %}