{% include header.html %}

<div class="row">
    <div class="col">
        <h2 class="post-title text-center pt-4">{{ page.title }}</h2>
    </div>
</div>
{% if site.show-author-on-posts %}
<div class="row">
    <div class="col text-center">
        {% if page.author %}Written by: {{page.author}}{% endif %}
        </a>
    </div>
</div>
{% endif %}
{% if page.featured-image %}
{% if page.featured-image-top %}
<div class="row pt-4">
    <div class="col">
        <a href="{{ site.url }}{{ page.featured-image }}" data-fslightbox="gallery">
            <img src="{{ site.url }}{{ page.featured-image-top }}" alt="{{ page.title }}" 
                {% if page.featured-image-style == "full-width" %}
                class="img-fluid img-thumbnail mx-auto d-block mb-3"
                {% endif %}
                {% if page.featured-image-style == "centered" %}
                class="img-fluid img-thumbnail rounded mx-auto d-block pb-3" 
                {% endif %}
            />
        </a>
    </div>
</div>
{% endif %}
{% endif %}
<div class="row pt-4">
    <div class="col">
        {{ content }}
    </div>
</div>

{% include footer.html %}